*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul li {
    float: left;
}

#topo ul {
     
    
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(./img/fundo.png) repeat-x;
   
}

/* Construindo o topo do site / Menu */

#container {
    width: 750px;
    margin: 0 auto;
   
}

#topo {
    height: 150px;
    background: url(./img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(./img/logo.png) no-repeat;
    text-indent: -3000px;
}

/* Construindo Barra de Navegação */

#topo nav {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

/* Aplicando Formatação no link */
#topo nav a {
    float: left;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: url(./img/divisor.png) no-repeat left center;
}
/* Aplicando Formatação no link */

#topo nav .primeiro {
    background: none;
}

/* Configurando o ID do nav e tag de link com efeito hovere = durante */
#topo nav a:hover {
    color: #69001d;
}
/* Configurando o ID do nav e tag de link com efeito hovere = durante */

/* Configurando classe home dentro do body do id do link home de navegacao */
body.home #navegacao a#home {
    color: #fff;
    background: #de003e;
}

/* Configurando layout de três colunas */

#conteudo {
    background: blue;
    margin-top: 80px;
    background: #f5f5f5;
}


#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}


#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;

}


#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    
}



.caixa {
    background: #f3f3f3 url(./img/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px 0 5px 0;

}


h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;

}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}


/* Formatar menus laterais */

#lateral ul a {
    font-size: 0.9em;
    padding: 4px;
    display: block;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
    
}

#lateral li {
    list-style: none;
}

#lateral ul a:hover{/* Efeito hover e marcardo - Depois fazer utilizando de forma semantica e tag nova */

    padding-left: 20px;
    background: #f9f9f9 url(./img/marcador.png) no-repeat left center;
    color: #a1a1a1;
}


/* Formatando o form */

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: 0.9em;
    width: 125px;
    background-color: #fff;
    border-radius: 5px;
    
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    
}



/* Formatando img */

img.imagem-principal {
    border: 3px solid #dfdfdf;
    width: 98%;
}

/* Formatando cabeçalho */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.caixa-conteudo h3 {

    background: #b10333;
    color: #fff;

}

.caixa-entrevista h3 {

    background: #de003e;
}


/* Formantando lista de noticias */





/* Rodape */

#container-rodape{

    background: #294c71;
    padding: 20px;
}

.rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
